$accentColor = #f9ad00
$textColor = #ccc
$white = #fff
$borderColor = rgba($accentColor, 0.5)
$codeBgColor = #282c34
$arrowBgColor = #2c3e50
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$backgroundColor = #1e1e1e

.theme-container,
.sidebar,
body
  background-color: $backgroundColor

.navbar,
.navbar .links,
.search-box,
.search-box .suggestions,
.search-box .suggestions li:hover,
.search-box .suggestions:hover,
.search-box .suggestions:focus-within,
.search-box .suggestions a
  background-color: $backgroundColor
  color: $textColor

.search-box input
  color: $backgroundColor
  background-color: $textColor

.nav-links a:hover,
.nav-links a.router-link-active
  color: $borderColor

body
  min-height: 100vh

.theme-default-content code
  background-color: $codeBgColor

tr:nth-child(2n)
    background-color: darken($backgroundColor, 25%)

table
  overflow-x: visible;

strong,
em
  color: $white